.mrg {
    margin: 30px;
}

body {
    font-family: sans-serif;
    text-align: justify;

}


img {
    width: 200px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: "Exo", sans-serif;
    background-color: transparent;
    border: 1px solid orangered;
    margin-left: 10px;
    margin-right: 10px;
}

nav a {
    color: chartreuse;
    padding: 10px 20px;
    transition: background-color 0.5s, color 0.5s;

}

nav a:hover {
    color: purple;
    padding: 10px 20px;
    transition: background-color 0.5s, color 0.5s;
    background: white;
}

.scout_cosas {
    display: flex;
    flex-wrap: wrap;
    padding-top: 200px;
    padding-bottom: 100px;
    justify-content: center;
}

footer {
    display: grid;
    border-radius: 10px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    background-color: #b35afd;
}

h1 {
    font-family: "Protest Riot", sans-serif;
    color: #8b00ff;
    text-align: center;
    font-size: 50px;
}

article {
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px #000000;
    justify-content: center;
    background-color: #fff;
}

footer p {
    font-family: "Titan One", sans-serif;
    font-size: 60px;
    text-align: center;
    color: #8ec100;
}

#nombre {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
}

#asignatura {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
}

#anim_scout {
    background-size: 100%;
    background-repeat: no-repeat;
    color: #ffffff;
    padding-bottom: 50px;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url(../img/Portada1_2018.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
}

main {
    padding-top: 200px;
}

#anim_scout h1 {
    color: #ffa700;
    font-family: "Bebas Neue", sans-serif;
}

.dest {
    font-size: 40px;
    font-family: "Strait", sans-serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 350px;
}

h2 {
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-size: 30px;
    color: #8b00ff;
}


#anim_scout p {
    margin-bottom: 50px;
}

.img_fond {
    background-image: url(../img/adventure.png);
}

.info_scout {
    background-color: #8b00ffad;
    transition: background-color 0.5s, color 0.5s;
    color: #ffffff;
}

.info_scout:hover {
    background-color: #00ff40ad;
    transition: background-color 0.5s, color 0.5s;
    color: #000000;
}

.pagact {
    color: purple;
    background: #ffffffa1;
}

.pagact:hover {
    color: purple;
    background: #ffffffa1;
}

.padd {
    padding: 10px;
}


.titun {
    grid-column: 1 / 5;
}

.sec img {
    grid-column: 1 / 2;
}

.par {
    grid-column: 2 / 5;
    grid-row-start: 2;
}

.sec h1 {
    grid-column: 1 / 5;
}

.sec {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}

.sec p {
    grid-column: 2 / 5;
}

.grito {
    grid-column: 2 / 4;
}

#cast .grito {
    color: orangered;
}

#man .grito {
    color: #dfdf21;
}

#tro .grito {
    color: cornflowerblue;
}

#pio .grito {
    color: red;
}

#rut .grito {
    color: #85ce15;
}

#com ul {
    grid-column: 2 / 5;
}

fieldset {
    border-radius: 10px;
}

a {
    text-decoration: none;
}

.tabla {
    border: 1px solid black;
    text-align: center;
}

table {
    table-layout: fixed;
    width: 95%;
    border-collapse: collapse;
    border: 3px solid #8b00ff;
    border-radius: 10px;
}

iframe {
    width: 200px;
    height: 100px;
}

td img {
    width: 100px;
}

@media (max-width: 1406px) {

    iframe {
        width: 150px;
        height: 70px;
    }

}

@media (max-width: 1050px) {

    .par {
        grid-column: 1 / 5;
    }

    article img {
        grid-row: 4 / 5;
    }

    .sec p {
        grid-column: 1 / 5;
    }

    #com ul {
        grid-column: 1 / 5;
    }

    iframe {
        width: 100px;
        height: 70px;
    }
}

@media (max-width: 900px) {
    #tienda {
        grid-row: 1 / 2;
        grid-column: 2 / 5;
    }

    #logo_fev {
        grid-row: 2 / 3;
        grid-column: 2 / 5;
    }

    #logoalex {
        grid-row: 3 / 4;
        grid-column: 2 / 5;
    }

    #scoulogo {
        grid-row: 4 / 5;
        grid-column: 2 / 5;
    }

    #nombre {
        grid-row: 5 / 6;
        grid-column: 1 / 5;
    }

    #asignatura {
        grid-row: 6 / 7;
        grid-column: 1 / 5;
    }

    td img {
        width: 60px;
    }

}

@media (max-width: 783px) {

    iframe {
        width: 90px;
        height: 60px;
    }

}

@media (max-width: 510px) {

    nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: "Exo", sans-serif;
        background-color: transparent;
        border: 1px solid orangered;
    }

    nav a {
        color: chartreuse;
        padding: 10px 20px;
        transition: background-color 0.5s, color 0.5s;
    }



}

@media (max-width: 666px) {

    #infogs {
        width: 99%;
    }

    table {
        width: 90%;
    }

    iframe {
        width: 70px;
        height: 60px;
    }
    td {
        font-size: 10px;
    }
}